<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block title %}    <title>Title</title> {% endblock %}
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="GET" action="{% url 'home' %}">
    <input type="text" name="q" placeholder="Search Rooms...">
</form>
{% if user.is_authenticated %}
<a href="{% url 'logout' %}">Log out</a>
{{ user.username }}
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
{% block content %}{% endblock %}
</body>
</html>